services:
  # service postgres
  postgres:
    build:
      context: ./database/
    # ports sont actuellement visibles depuis l'hôte mais seront cachés après développement
    expose:
      - "5432"
    volumes:
      - postgres-data:/var/lib/postgresql
    env_file: ".env"
    networks:
      - nfse-network
    
  # service backend
  backend:
    build:
      context: ./backend/
    depends_on:
      - postgres
    ports: # port écouté en interne
      - "4000:4000"
    env_file: ".env"
    networks:
      - nfse-network
  
  frontend:
    build:
      context: ./frontend/
    depends_on:
      - backend
    ports:
      - "3000:4173" # frontend accessible depuis le navigateur
    networks:
      - nfse-network
    
# config volumes
# pas besoin d'autre chose que le volume postgres (seul qui doit garder des données)
volumes:
  postgres-data:
  
# config network
networks:
  nfse-network:
    name: nfse-network
    driver: bridge